<!-- app/views/orders/_form.html.erb -->
<%= javascript_include_tag "calculate_price" %>

<%= form_with url: order_path(@order), method: :patch do |form| %>
  <%= form.label :courier %>
  <%= form.select :courier, options_for_select(@couriers) %>

  <%= form.label :address %>
  <%= form.collection_select :address_id, current_user.addresses, :id, :full_address %>

  <p id="total_price"></p>
<% end %>
